<div *ngIf="!paciente">
    Cargando...
</div>
<div class="container list-paciente"*ngIf="paciente">
        <table id="contentToConvertPaciente" class="table table-hover table-striped">
            <thead>
                <tr>
                    <!-- <th scope="col">id</th> -->
                    <th scope="col">CI</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Estado</th>                    
                    <th scope="col">Operaciones</th>
                    <!-- <th scope="col">Tipo</th> -->
    
                </tr>
            </thead>
            <tbody *ngFor='let em of paciente'>
                <tr>
                    <!-- <th scope="row">{{em.id}}</th> -->
                    <th scope="row">{{em.ci}}</th>
                    <th scope="row">{{em.nombre}}</th>
                    <th scope="row">{{em.apellido}}</th>
                    <th scope="row">{{em.fecha_nacimiento}}</th>
                    <th scope="row">{{em.email}}</th>
                    <th scope="row">{{em.telefono}}</th>
                    <th scope="row">{{em.sexo}}</th>
                    <th scope="row">
                        
                        <button class="btn btn-info">{{em.estado}}</button>
                    </th>
                    
                    <th>
                        <div>
                        <button type="button" class="btn btn-success" routerLink="/editpaciente/{{ em.peopleable_id }}">Editar</button>
                        </div>
                        <div>
                        <button type="button" class="btn btn-success">Eliminar</button>
                    </div>
                    </th>
    
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary btn-block" (click)="captureScreenPaciente()">Descargar lista de pacientes</button>
    </div>